<!DOCTYPE html> 
<html>
	<head>
		<title>后台数据修改工具</title>
		
		{% include "header.html" %}
	</head>
	
	<body class="bg-cyan" >
		<div class="body body-s">	
			<form  enctype="multipart/form-data" id="sky-form" class="sky-form" autocomplete="off" action="" method="post" target="id_iframe" >
				<header><b>批量添加(Bulk adding)</b></header>
				
				{% include "serverlist.html" %}
				 <fieldset>
					<section>
					<b>批量添加(Bulk adding)</b>
					<br/>
					<input type="file" name="levelfile"   />
					<br/>
					<input name="levelsm" type="submit" class="button" value="提交修改(Submit)">
					<a href="index.html"><input name="submit2" type="button" class="button" value="返回" onClick="back()"></a>
					</section>
				 </fieldset>
				<footer>   
                        <h3>结果(Result)</h3> 
                        <iframe id="id_iframe" name="id_iframe"  onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"  width="850"  frameborder="no" border="0" scrolling="no" src="about:blank"></iframe>
				</footer>
			</form>			
	  </div>
<script type="text/javascript">
var picindex=3;
function check()
{

  
  var OpenID = document.getElementById("OpenID").value;
  var value1 = document.getElementById("textedit2").value;
  var value2 = document.getElementById("textedit3").value;
  
 if($('input:radio:checked').val()=="MTest")
 {
   //  alert("目前是韩国人使用版本，禁止修改");
    // return false;
 }
  
  if(isNaN(value1) ||isNaN(value2))
  {
      alert("请用数值");
     return false;
  }
 if(OpenID=="")
 {
     alert("OpenID没填");
     return false;
 }
}



function changeUI(val)
{
  

  switch(val)
  {
      case 'EXP':
	        document.getElementById("label2").innerHTML="<b>经验(XP)</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";		 
	         break;

      case 'LEVEL':
	        document.getElementById("label2").innerHTML="<b>等级</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";		 
	         break;
	
	  case 'DIAMOND':
	        document.getElementById("label2").innerHTML="<b>钻石</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";		 
	         break;	 
			 
	  case 'GOLD':
	        document.getElementById("label2").innerHTML="<b>金币</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'WEAPON':
	        document.getElementById("label2").innerHTML="<b>道具ID(Item ID)</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";		 
	         break;		
	  case 'EXPERT_POINT':
	        document.getElementById("label2").innerHTML="<b>专精点</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'ADD_PROP_HOUR':
	        document.getElementById("label2").innerHTML="<b>道具ID(Item ID)</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="<b>道具时限(秒)</b>";
            document.getElementById("label3").style.display="";
			document.getElementById("textedit3").style.display=""; 
	         break;		
	 case 'ADD_PROP':
	        document.getElementById("label2").innerHTML="<b>道具ID(Item ID)</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="<b>道具数量</b>";
            document.getElementById("label3").style.display="";
			document.getElementById("textedit3").style.display=""; 
	         break;
	  case 'ADD_ACH':
	        document.getElementById("label2").innerHTML="<b>成就ID</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="<b>成就等级</b>";
            document.getElementById("label3").style.display="";
			document.getElementById("textedit3").style.display="";
	        break;
	  case 'CLEAR_DATA':
	        document.getElementById("label2").innerHTML="";
            document.getElementById("label2").style.display="none";
			document.getElementById("textedit2").style.display="none";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'OPEN_CHAPTER':
	        document.getElementById("label2").innerHTML="";
            document.getElementById("label2").style.display="none";
			document.getElementById("textedit2").style.display="none";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'DONE_NEWER_TASK':
	        document.getElementById("label2").innerHTML="";
            document.getElementById("label2").style.display="none";
			document.getElementById("textedit2").style.display="none";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'WEAPON_POINT':
	        document.getElementById("label2").innerHTML="<b>武器精通点</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	   case 'TECH_POINT':
	        document.getElementById("label2").innerHTML="<b>科技点</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'SET_RANK':
	        document.getElementById("label2").innerHTML="<b>排位赛积分</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	  case 'GOOD_LUCK':
	        document.getElementById("label2").innerHTML="<b>火线幸运币</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none";
	        break;
	 case 'SET_PUNISH':
	        document.getElementById("label2").innerHTML="<b>惩罚类型</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="<b>惩罚时间（unix时间秒数）</b>";
            document.getElementById("label3").style.display="";
			document.getElementById("textedit3").style.display=""; 
	        break;
	case 'UNSET_PUNISH':
	        document.getElementById("label2").innerHTML="<b>取消惩罚类型</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			
			document.getElementById("label3").innerHTML="<b>取消惩罚时间（unix时间秒数）</b>";
            document.getElementById("label3").style.display="none";
			document.getElementById("textedit3").style.display="none"; 
	        break;
    	  case 'ADD_VIP':
	        document.getElementById("label2").innerHTML="<b>加VIP</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
			break;
		  case 'CHANGE_EVN':
	        document.getElementById("label2").innerHTML="<b>切换IDIP环境(Switch IDIP Context)</b>";
            document.getElementById("label2").style.display="";
			document.getElementById("textedit2").style.display="";
  }

}

</script>	
</body>
</html>
