<!DOCTYPE html>
<html>

<head>
	<title>海龟突破策略 </title>

	{% include "header.html" %}

	{% load static %}

</head>

<body class="bg-cyan"  style="background-image: url({% static 'background1.jpg' %}), url({% static 'background2.jpg' %});  background-size:20% 20%;background-repeat:no-repeat; background-position:left top,right top;">
	
	
	<div class="body body-s">
		<div class="font_bk"> 
			<h4>板块信息:</h3>
			<h5></h5> 
			<br>
	
			
		</div>
		<form id="sky-form" class="sky-form" autocomplete="off" action="" method="post" target="id_iframe" onsubmit="return check()">
			
			{% csrf_token %}
			<header><b>板块信息 </b></header>
			<fieldset>	
				<section>
					<label class="select">
						<select name="env" id="env">
							<option value="CN">A股</option>
						</select>
						<i></i>
					</label>
				</section>
	
				</section>

				<section>
					<label id="label1"><b>周期(天):</b></label>
					<br />
					{{ industry_form.xd }}
				</section>
				<br />
				<input  name="submit" type="submit" class="button" value="提交修改(Submit)" >
			</fieldset>


			<footer>   
				<h3>结果(Result)</h3> 
				<iframe id="id_iframe" name="id_iframe"  onload="this.style.height=this.contentDocument.body.scrollHeight +'px';"  width="1040" height="500" frameborder="no" border="0" scrolling="no" src="about:blank"></iframe>
			</footer>
			</form>

			

	

	</div>

	
</body>

</html>